/* Styles for CIS 128 Course Homepage. */

/* styles for the elements */
/* universal reset selector */
* {
	margin: 0;
	padding: 0;
}
html {
	min-height: 100vh;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    
    /* margin: .15em auto;   margins around body */
}

a:focus, a:hover {
	font-style: italic;
}

/* styles for header */
header {
	padding: 1.5em 0 2.0em 0;
	border-bottom: 3px solid #4b4a4e;
    border-top: 3px solid #4b4a4e;
}
header h1 {
    text-align: center;
    padding-top: .35em;
}

/* styles for main */
p {
    padding-top: .75rem;
}
.drop-down-container {
    padding-top: 1rem;
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.text-container {
    padding: 0 2em;
}
.bordered {
    border: 4px solid #4b4a4e;     
    border-radius: 10px; 
}  
h2 {
    text-align: left;
    padding-bottom: .5em;
}



