/* Styles for HW6 pages - part 1, part 2.
/* styles for the elements */
/* universal reset selector */
* {
	margin: 0;
	padding: 0;
}

/* styles for header */
header h1 {
    padding-top: .35em;
    padding-left: .75em;}
header h2 {
    padding-left: .95em;}   

/* styles for main */
main h2 {
	font-size: 115%;
	padding: 2em 0 .25em 2.5em;}
main h3 {
    font-size: 90%;
    padding: 0 0 .25em 2em;
    /*padding-top: 1.2em;
    padding-bottom: 1em;*/
}   

main ul {
    padding-left: 4em;
}
main form {
    text-align: left;
    margin-left: 2em;
    padding: 1.6em .2em 0 1em;
}

label {
    white-space: nowrap;
}

.alignboxes {
    display:grid;
    grid-template-columns: .2fr .1fr;
    grid-row-gap: 10px;
    grid-column-gap: 6px;
    padding-top: .9em;
}
.alignboxes label {
    text-align: left;
}

#ltr {
    max-width: 20px;
}
#submitBtn1 {
    margin-left: 3em;
}
#submitBtn {
    margin-top: 1em;
    margin-left: 18em;
}
#clearBtn {
    margin-left: 2em;
}
#resultArea {
    margin-left: 3em;
    margin-top: 1em;
}
