/* Styles for HW7 pages - part 1, part 2.
/* styles for the elements */
/* universal reset selector */
* {
	margin: 0;
	padding: 0;
}

/* styles for header */
header h1 {
    padding-top: .35em;
    padding-left: .75em;}
header h2 {
    padding-left: .95em;}   

/* styles for main */
main h3 {
    padding-top: 1em;
    padding-bottom: .25em;
}  
main h4 {
    padding-top: .5em;
    padding-left: 1em;
}  
main article {
    text-align: left;
    margin-left: 16em;
    width: 725px;
    border: 2px solid black;
}
main p {
    margin: 1.25em 2em;
}
main form {
    text-align: left;
    margin-left: 3em;
    
}
.styling-container {
    display: grid;
    margin-left: 12em;
    grid-template-columns: 17em 15em 17em;          /* 3 cols for the 3 styling categories */
    gap: 2em;                                       /* Add space between the columns */
}
/* Classes for background color */
.green {
    background-color: rgb(207, 250, 207);
}
.orange {
    background-color: rgb(253, 191, 166);
}
.pink {
    background-color: rgb(253, 227, 231);
}
.white {
    background-color: white;
}

/* Classes for text styles */
.boldTxt {
    font-weight: bold;
}
.italicTxt {
    font-style: italic;
}
.underlineTxt {
    text-decoration: underline;
}

/* Classes for font size */
.point75em {
        font-size: .75em;
}
.point90em {
        font-size: .90em;
}
.onepoint1em {
        font-size: 1.1em;
}

#resultArea, #submitBtn {
    margin-top: 1em;
    margin-left: 3.5em;
}
#clearBtn {
    margin-left: 2em;
}