/* This file contains styles for the CIS 114 Course Homepage, and the common elements on Course Homepage and each Homework page. 
/* Styles that are specific to one or a subset of Homework pages will be placed in a separate CSS file. 

/* styles for the elements */
/* universal reset selector */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: rgb(227, 229, 230);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    margin: .15em auto;  /* margins around body */
    /*border: 3px solid #144093; */
    background-color: #fcfbf4;
}
a:focus, a:hover {
	font-style: italic;
}

/* styles for header */
header {
	padding: 1.5em 0 2.0em 0;
	border-bottom: 3px solid #144093;
	background-image: linear-gradient(
	    30deg, #d5f1f8 0%, white 50%, #d5f1f8 80%);
}
header h1 {
    padding-top: .35em;
    padding-left: .25em;
}
header img {
	float: left;
	padding: 0 30px;
}

/* styles for main */
main h2 {
	font-size: 115%;
	padding: 2em 0 .25em 1em;
}
nav ul {
	padding: 0 0 .25em 2.25em;
}
nav li {
	padding-bottom: .35em;
    padding-left: .35em;
}
nav a {
    font-weight: bold;
}
/* main p {
    text-align: right;
    padding: 4em .3em 0 0;
}
*/

/* styles for navigation links at bottom of each page */
#nav_menu ul {
    list-style-type: none;
    padding-top: 2em;
    text-align: center;
}
#nav_menu ul li {
    display: inline;
    padding: 0 1.6em;
}
#nav_menu ul a {
    font-weight: bold;
}

/* styles for footer  */
footer {
	background-color: #d5f1f8;
	clear: both;
    margin-top: 4em;
    border-top: 2px solid #144093; 
    border-bottom: 2px solid #144093;
	 
	text-align: center;
	padding: 1em 0;
    font-size: 80%;
}
